// 使用中
$ts01: .2s ease-in-out;
$co01: #b5c1de;
$co02: #063190;
$co03: #8aa3de;

$cogrUp: #666666;
$cogrLw: #F8F8F8;
$coLine: #707070;
$cobk: #4A4A4A;

// 基本設定
$basicFontSize: 1.4rem;
$basicFontFamily: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans JP", sans-serif;
// $basicFontFamily: "Noto Serif JP", serif;
$innerWidth: 1170px;
$spHeaderH: 104px;

$fzAdjust: 0;