</main>
<footer id="footer">
    <div id="Pagetop" class="footerPagetop">
        <a href="/"></a>
    </div>

    <div class="footer-parent inner">
        <div class="fotter-child01">
            <img src="/assets/img/common/logo.svg" alt="" class="footer_img_ttl">
            <div class="fotter-add-box">
                <p class="fotter-add-ttl">住　所</p>
                <p class="fotter-add-sub">〒390-1243　長野県松本市神林3466</p>
            </div>
            <div class="fotter-add-box">
                <p class="fotter-add-ttl">お電話・FAX</p>
                <p class="fotter-add-sub">0263-26-2568</p>
            </div>
        </div>

        <div class="fotter-child02">
            <div class="footer-txt-box">
                <p class="footer-txt-ttl"><i class="fa fa-car footer-icon"></i>お車でお越しの方</p>
                <p class="footer-txt-sub">長野道・松本IC・塩尻北ICより15分</p>
                <p class="footer-txt-ttl"><i class="fa fa-train footer-icon"></i>電車でお越しの方</p>
                <p class="footer-txt-sub">JR松本駅・平田駅からタクシーが便利です。</p>
            </div>
            <div class="footer-map-box">
                <img src="/assets/img/common/map_illust.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-btm">
        <p>©choukyuuji</p>
    </div>
</footer>
<!-- <i id="pagetop" class="pagetop02">page top</i> -->
<script src="/assets/js/common/jquery.min.js"></script>
<script src="/assets/js/common/slick.min.js"></script>
<script src="/assets/js/common/ofi.min.js"></script>
<script src="/assets/js/common/base.js"></script>
<%- add_js %>
</body>

</html>